<% if (username) { %>
  <form method="POST" action="/logout" class="form-inline navbar-right">
    <span style="padding:10px;"><%= username %></span>
    <button class="btn btn-default">Log Out</button>
  </form>
<% } else { %>
  <form method="POST" action="/login" class="form-inline navbar-right">
    <input type="text" name="username" placeholder="username" style="width:150px; font-size:1.35em;" class="form-control">
    <button class="btn btn-default">Log In</button>
  </form>
<% } %>
<div class="">
  <h1 style="margin-top:-10px;">Welcome</h1>
</div>
